---
layout: default
title: Schedule
---

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Conference Program</h1>

            {% if site.data.schedule.size == null %}
            Coming soon...
            {% endif %}
        </div>
    </div>


    {% if site.data.schedule.draft %}
    <div class="row">
        <div class="col-lg-9">
            <div class="alert alert-warning" role="alert">
                This is a draft schedule and is subject to change. We will update the schedule as we get closer to the conference date. Please check back for updates.
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-9">
            {% for item in site.data.schedule.schedule %}
            <div class="row schedule-item" style="background: {{ item.color }};">
                <div class="schedule-time">{{ item.start_time }}</div>
                <div class="col schedule-header">
                    {{ item.name }}
                    {% if item.chair %}({{ item.chair }}){% endif %}
                </div>
                <div class="schedule-speaker"></div>
            </div>
            {% if item.talks %}
            {% for talk in item.talks %}
            <div class="row" style="background: {{ item.color }};">
                <div class="schedule-time"></div>
                {% if talk.link %}
                <div class="col schedule-talk-item"><a href="{{ talk.link }}" target="_blank" rel="noopener noreferrer">{{
                        talk.title }}</a></div>
                {% else %}
                <div class="col schedule-talk-item">{{ talk.title }}</div>
                {% endif %}
                <div class="schedule-speaker">{{ talk.author }}</div>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <div class="row">
                <h3>Our Supporters</h3>
                <p>
                    <img class="img-fluid" alt="USU Engineering" src="{% link images/combined_USU_logo_Science_for_Solutions.png %}" />
                </p>
                <p>
                    <img class="img-fluid" alt="UCAIR - Utah Clean Air Partnership" longdesc="UCAIR - Utah Clean Air Partnership" src="{% link images/UCAIR-logo.png %}" />
                </p>
                <p>
                    <img class="img-fluid" alt="DAQ Logo" src="{% link images/DAQ.png %}" />
                </p>
            </div>
        </div>
    </div>
</div>

{% if site.data.posters.size != null %}
<h2 class="mt-5 mb-3">Conference Posters</h2>
{% endif %}
<div class="container poster-container">

    {% assign poster_index = 0 %}
    {% for category in site.data.posters %}
    <h4>{{ category.category }}</h4>
    <div class="poster-group">
        {% for poster in category.posters %}
        {% assign poster_index = poster_index | plus: 1 %}
        {% unless poster.dropped %}
        <div class="row poster-item">
            <div class="col poster-number">{{ poster_index }}</div>
            {% if poster.link %}
            <div class="col poster-title"><a href="{{ poster.link }}" target="_blank" rel="noopener noreferrer">{{
                    poster.title }}</a></div>
            {% else %}
            <div class="col poster-title">{{ poster.title }}</div>
            {% endif %}

            <div class="poster-author">{{ poster.author }}</div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
