---
layout: default
title: Schedule
---

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Conference Program</h1>

            (Preliminary schedule, subject to change)

            {% if site.data.schedule.size == null %}
            Coming soon...
            {% endif %}
        </div>
    </div>



    {% for item in site.data.schedule %}
    <div class="row schedule-item" style="background: {{ item.color }};">
        <div class="schedule-time">{{ item.start_time }}</div>
        <div class="col schedule-header">
            {{ item.name }}
            {% if item.chair %}({{ item.chair }}){% endif %}
        </div>
        <div class="schedule-speaker"></div>
    </div>
    {% if item.talks %}
    {% for talk in item.talks %}
    <div class="row" style="background: {{ item.color }};">
        <div class="schedule-time"></div>
        {% if talk.link %}
        <div class="col schedule-talk-item"><a href="{{ talk.link }}" target="_blank" rel="noopener noreferrer">{{
                talk.title }}</a></div>
        {% else %}
        <div class="col schedule-talk-item">{{ talk.title }}</div>
        {% endif %}
        <div class="schedule-speaker">{{ talk.author }}</div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

{% if site.data.posters.size != null %}
<h2 class="mt-5 mb-3">Conference Posters</h2>
{% endif %}
<div class="container poster-container">

    {% for poster in site.data.posters %}
    <div class="row poster-item">
        {% if poster.link %}
        <div class="col poster-title"><a href="{{ poster.link }}" target="_blank" rel="noopener noreferrer">{{
                poster.title }}</a></div>
        {% else %}
        <div class="col poster-title">{{ poster.title }}</div>
        {% endif %}

        <div class="poster-author">{{ poster.author }}</div>
    </div>
    {% endfor %}
</div>
