---
layout: default
title: Contact
---
<div id="column_l">
    <h2>Contact Us</h2>
    <h3>The Air Quality: Science for Solutions Organizing Committee:</h3>

    {% for member in site.data.committee.members %}
    <p>
        {% if member.email %}<a href="mailto:{{ member.email }}">{% endif %}{{ member.name }}{% if member.email %}</a>{%
        endif %}, {{ member.affiliation }}
    </p>
    {% endfor %}

    <h3>Past Committee Members:</h3>
    {% for member in site.data.committee.past_members %}
    <p>{{ member.name }}, {{ member.affiliation }}</p>
    {% endfor %}

</div>
