<div id="footer">
    <p class="auto-style2">
        <a href="{% link index.html %}">Home</a> |
        <a href="{% link _pages/schedule.html %}">Schedule</a> |
        <a href="{% link _pages/contact.html %}">Contact</a> |
        <a href="{% link _pages/faq.html %}">FAQ</a> |
        <a href="{% link _pages/registration.html %}">Registration</a> |
        <a href="{% link docs/default.html %}">Past Conferences</a>
    </p>
    <p>Copyright &copy; 2023 Brigham Young University, Electrical and Computer Engineering Department. All Rights
        Reserved.</p>
</div>
