<div id="footer">
    <p class="auto-style2">
        <a href="{% link index.html %}">Home</a> |
        <a href="{% link schedule/default.html %}">Schedule</a> |
        <a href="{% link contact/default.html %}">Contact</a> |
        <a href="{% link faq/default.html %}">FAQ</a> |
        <a href="{% link registration/default.html %}">Registration</a> |
        <a href="{% link docs/default.html %}">Past Conferences</a>
    </p>
    <p>Copyright &copy; 2021 Weber State University, Physics Dept.. All Rights Reserved.</p>
</div>
