<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<!-- #BeginEditable "doctitle" -->
<title>Air Quality Science{% if page.title %} :: {{ page.title }}{% endif %}</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style type="text/css">
    .auto-style2 {
        text-align: center;
    }

    .auto-style3 {
        border-width: 0px;
    }

    .auto-style4 {
        margin-left: 40px;
    }

    .auto-style6 {
        color: #446699;
        margin-left: 40px;
    }

    .auto-style7 {
        margin-left: 40px;
    }

    .auto-style8 {
        border-width: 0px;
    }

    .auto-style10 {
        font-size: x-large;
    }

    .auto-style11 {
        color: #FF0000;
    }

</style>
<!-- #EndEditable -->
<link href="{% link styles/style2.css %}" media="screen" rel="stylesheet" title="CSS" type="text/css" />
<style type="text/css">
    .auto-style1 {
        text-decoration: underline;
    }

    .auto-style2 {
        text-align: left;
    }

    .auto-style3 {
        font-size: large;
    }

    .auto-style4 {
        border-width: 0px;
    }

</style>
