<div id="masthead" class="masthead">
    <a href="{% link index.html %}" target="_self">
        <img alt="Air Quality: Science for Solutions" height="135" src="{% link photo_gallery/AirQuality-ScienceForSolutionsLogo.png %}" width="150" class="auto-style4" /></a>

    <div class="conference_location">
        <p>{{ site.data.dates.conference_number }} Annual Conference: <b>{{ site.data.dates.conference }}, {{ site.data.dates.year }}</b> at <b>{{ site.data.dates.conference_location }}</b></p>
        <p class="masthead_caption">(Remote option available for oral sessions)</p>
    </div>

    <h3>Important Dates</h3>
    <div class="important_dates">
        <p><a href="{% link _pages/author.html %}">Abstract</a> deadline: {{ site.data.dates.abstract }}</p>
        <p><a href="{% link _pages/attendee.html %}">Early registration</a> deadline: {{ site.data.dates.registration }}</p>
    </div>
</div>
