<div id="masthead">
    <a href="{% link index.html %}" target="_self">
        <img alt="Air Quality: Science for Solutions" height="135"
            src="{% link photo_gallery/AirQuality-ScienceForSolutionsLogo.png %}" width="150" class="auto-style4" /></a>

    <p>&nbsp;<span class="auto-style3">The conference
            will be LIVE <a href="{% link faq/default.html %}">at UDAQ</a> this year </span>(a Zoom
        option will be available)<span class="auto-style3">.</span></p>
    <h4>COVID Requirements will be the current recommendations from the Health Department.</h4>
    <p><span class="auto-style3">7th Annual conference: Thursday,
            March 30, 2023<br />
        </span> <a href="{% link registration/default.html %}">Registration</a> deadline: March 20, 2023. <span
            class="auto-style4">
            <a href="{% link registration/default.html %}">Abstract</a></span>
        deadline: February 27, 2023.<br />
        Conference <a href="{% link schedule/default.html %}">Schedule</a> </p>
    <p>You can download the 2023
        <a href="{% link docs/conferences/AQSfS-2022/Science_for_Solutions_6.pdf %}">Conference Flyer</a>.
    </p>
</div>
