<div id="navigation">
    <ul>
        <li><a href="{% link index.html %}">Home</a></li>
        <li><a href="{% link _pages/attendee.html %}">Register</a></li>
        <li><a href="{% link _pages/author.html %}">Submit an Abstract</a></li>
        <li><a href="{% link _pages/presenter_guidelines.html %}">Presenter Guidelines</a></li>
        <li><a href="{% link _pages/venue.html %}">Venue</a></li>
        <li><a href="{% link _pages/schedule.html %}">Program</a></li>
        <li><a href="{% link _pages/contact.html %}">Organizing Committee</a></li>
        <li class="float-end"><a href="{% link _pages/past.html %}">Past Conferences</a></li>
    </ul>
</div>
