<div id="navigation">
    <ul>
        <li><a href="{% link index.html %}">Home</a></li>
        <li><a href="{% link _pages/registration.html %}">Conference
                Registration</a></li>
        <li><a href="{% link _pages/schedule.html %}">Schedule</a></li>
        <li><a href="{% link _pages/registration.html %}">Guidelines for Presenters</a></li>
        <li><a href="{% link _pages/past.html %}">Past Conferences</a></li>
        <li><a href="{% link _pages/contact.html %}">Contact</a></li>
        <li><a href="{% link _pages/faq.html %}">FAQ/Parking</a></li>
    </ul>
</div>
