<div id="navigation">
    <ul>
        <li><a href="{% link index.html %}">Home</a></li>
        <li><a href="{% link registration/default.html %}">Conference
                Registration</a></li>
        <li><a href="{% link schedule/default.html %}">Schedule</a></li>
        <li><a href="{% link registration/PresenterGuidelines.html %}">Guidelines for Presenters</a></li>
        <li><a href="{% link docs/default.html %}">Past Conferences</a></li>
        <li><a href="{% link contact/default.html %}">Contact</a></li>
        <li><a href="{% link faq/default.html %}">FAQ/Parking</a></li>
    </ul>
</div>
