vti_encoding:SR|utf8-nl
vti_author:SR|AD\\jsohl
vti_modifiedby:SR|AD\\jsohl
vti_timelastmodified:TR|16 Sep 2016 21:53:46 -0000
vti_timecreated:TR|23 Jul 2016 23:40:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site_map/default.html docs/AQSfS5.html docs/default.html docs/conferences/AQSfS2021/default.html faq/default.html photo_gallery/default.html press/default.html master.dwt schedule/default_old.html schedule/default.html faq/default_copy(2020BYU).html schedule/Raffle.html registration/PresenterGuidelines.html registration/default.html news/default.html contact/default.html default.htm
vti_cacheddtm:TX|16 Sep 2016 21:53:46 -0000
vti_filesize:IR|2272
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
