vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Oct 2016 22:56:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|AD\\jsohl
vti_modifiedby:SR|AD\\jsohl
vti_timecreated:TR|19 Sep 2016 19:06:28 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|20 Oct 2016 22:56:48 -0000
vti_filesize:IR|1221
