<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<!-- #BeginTemplate "master.dwt" -->

<head>
    {% include head.html %}
</head>

<body>

    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        {% include masthead.html %}
        <!-- End Masthead -->

        <!-- Begin Navigation -->
        {% include nav.html %}
        <!-- End Navigation -->

        <!-- Begin Page Content -->
        <div id="page_content">
            {{ content }}
        </div>
        <!-- End Page Content -->

        <!-- Begin Footer -->
        {% include footer.html %}
        <!-- End Footer -->
    </div>
    <!-- End Container -->

</body>

<!-- #EndTemplate -->

</html>
