<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<!-- #BeginTemplate "master.dwt" -->

<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <!-- #BeginEditable "doctitle" -->
    <title>Air Quality Science</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <style type="text/css">
        .auto-style2 {
            text-align: center;
        }

        .auto-style3 {
            border-width: 0px;
        }

        .auto-style4 {
            margin-left: 40px;
        }

        .auto-style6 {
            color: #446699;
            margin-left: 40px;
        }

        .auto-style7 {
            margin-left: 40px;
        }

        .auto-style8 {
            border-width: 0px;
        }

        .auto-style10 {
            font-size: x-large;
        }

        .auto-style11 {
            color: #FF0000;
        }

    </style>
    <!-- #EndEditable -->
    <link href="styles/style2.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <style type="text/css">
        .auto-style1 {
            text-decoration: underline;
        }

        .auto-style2 {
            text-align: left;
        }

        .auto-style3 {
            font-size: large;
        }

        .auto-style4 {
            border-width: 0px;
        }

    </style>
</head>

<body>

    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead">
            <a href="https://harbor.weber.edu/AirQualityScience/default.htm" target="_self">
                <img alt="Air Quality: Science for Solutions" height="135"
                    src="photo_gallery/AirQuality-ScienceForSolutionsLogo.png" width="150" class="auto-style4" /></a>
            <p>&nbsp;<span class="auto-style3">The conference
                    will be LIVE <a href="faq/default.html">at BYU</a> this year </span>(a Zoom
                option will be available)<span class="auto-style3">.</span></p>
            <h4>COVID <a href="https://www.byu.edu/coronavirus/events-activities">
                    Requirements</a> for the Conference Site</h4>
            <p><span class="auto-style3">6th Annual conference: Thursday,
                    April 7, 2022<br />
                </span> <a href="registration/default.html">Registration</a> deadline: March 27, 2022. <span
                    class="auto-style4">
                    <a href="registration/default.html">Abstract</a></span>
                Post-deadline abstracts are no longer being accepted for 2022. <br />
                Conference <a href="schedule/default.html">Schedule</a> </p>
            <p>You can download the 2022
                <a href="docs/conferences/AQSfS-2022/Science_for_Solutions_6.pdf">Conference Flyer</a>.
            </p>
        </div>
        <!-- End Masthead -->
        <!-- Begin Navigation -->
        <div id="navigation">
            <ul>
                <li><a href="default.html">Home</a></li>
                <li><a href="https://harbor.weber.edu/AirQualityScience/registration/default.html">Conference
                        Registration</a></li>
                <li><a href="schedule/default.html">Schedule</a></li>
                <li><a href="registration/PresenterGuidelines.html">Guidelines for Presenters</a></li>
                <li><a href="docs/default.html">Past Conferences</a></li>
                <li><a href="contact/default.html">Contact</a></li>
                <li><a href="https://harbor.weber.edu/AirQualityScience/faq/default.html">FAQ/Parking</a></li>
            </ul>
        </div>
        <!-- End Navigation -->
        <!-- Begin Page Content -->
        <div id="page_content">
            <!-- Begin Left Column -->
            <div id="column_l">
                <!-- #BeginEditable "content" -->
                <h1>Air Quality: Science for Solutions - 2022 </h1>
                <h2><span class="auto-style11">NOTE: Post deadline abstracts are no
                        longer being accepted. </span> &nbsp;</h2>
                <em>Air Quality: Science for Solutions</em> is an annual
                conference on air quality, especially for Utah and the Intermountain
                West. &nbsp;It began with a pair of conferences by the same name hosted
                by the Utah Department of Environmental Quality, Division of Air
                Quality; the Program for Air Quality Health and Society at the
                University of Utah; and the Utah State University Bingham
                Entrepreneurship &amp; Energy Research Center in 2015.<br />
                <br />
                The mission of this conference is to bridge divides that separate
                researchers of various disciplines from each other, from
                professionals in the industrial and regulatory realms, and from the
                public, and to facilitate a cross-pollination of ideas working
                towards the
                development of solutions.<br />
                <br />
                <table style="width: 100%">
                    <tr>
                        <td>
                            <img alt="Becky Close" height="218" src="docs/conferences/AQSfS-2022/BeckyClose.jpg"
                                width="200" /><br />
                            <br />
                            <img alt="Sheila Vance" height="242" src="docs/conferences/AQSfS-2022/SheilaVance.jpg"
                                width="200" /><br />
                            <br />
                            <img alt="Ryan Bares" height="226" src="docs/conferences/AQSfS-2022/Bares_Headshot.png"
                                width="200" /><br />
                        </td>
                        <td><strong>Welcome and Opening Q&amp;A will be discussing ozone and
                                State Implementation Plan (SIP) issues. The three person
                                UDAQ panel
                                is Becky Close, Sheila Vance, and Ryan Bares.&nbsp; </strong>&nbsp;<br />
                            <br />
                            <strong>Becky Close</strong> is the Utah Division of Air
                            Quality Environmental Program Manager overseeing the Policy
                            Section, which coordinates state implementation plans and
                            administers grant and incentive programs to reduce harmful
                            air emissions. Becky has worked at DAQ for six years, and
                            was previously the PM2.5 coordinator. Prior to DAQ, Becky
                            earned a master's degree in Environmental Science from the
                            University of Utah, and worked on legacy atomic bomb waste
                            remediation for an environmental consulting firm in Los
                            Alamos, NM. Growing up on the western slope of Colorado, and
                            having lived in the intermountain west most of her life,
                            Becky enjoys exploring the outdoors with her family while
                            hiking, backpacking, mountain biking, running, and skiing.
                            <br />
                            <br />
                            <strong>Sheila Vance</strong> is an Environmental Scientist
                            who has been with the Utah Division of Air Quality for a
                            little over 6 years with a focus on winter time ozone
                            pollution in the Uinta Basin. She has been a part of air
                            quality rule development for oil and gas emission sources
                            and research projects involving studies on the sources of
                            VOC and NOx emissions in the Uinta Basin and impacts on the
                            formation of ozone. She has a BS degree from the University
                            of California Davis with majors in Environmental Toxicology
                            and Physiology. She worked for the Hawaii Department of
                            Health in their Hazardous Waste Division for several years
                            and then came to Utah where she has lived for the last 25
                            years. Previous to working for the State of Utah, she worked
                            for 19 years at the Tooele Chemical Demilitarization
                            Facility where she was the Environmental Manager, and
                            oversaw the successful clean closure of the hazardous waste
                            incinerator and other waste management units that safely
                            destroyed the weapons and chemical agents. <br />
                            <br />
                            <strong>Ryan Bares</strong>’s career in air quality started
                            while conducting research at the University of Utah in the
                            Departments of Biology and Atmospheric Sciences.&nbsp; During
                            this time, Ryan participated in a wide array of studies
                            looking at the convergence of anthropogenic emissions,
                            atmospheric transport, and the resulting atmospheric
                            chemistry.&nbsp; Through this research he gained a great
                            appreciation for policy solutions that bridge the gap
                            between good research and real world solutions aimed at
                            addressing our pressing air quality challenges. This
                            appreciation led Ryan to his current position, where he
                            serves as the State Implementation Plan coordinator for
                            ozone pollution along the Wasatch Front. <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="Ashley Miller" height="250" src="images/AshleyMiller-AQSfS6keynote.jpg"
                                width="200" />&nbsp;
                        </td>
                        <td><strong>Keynote Speaker: Ashley Miller, JD, Executive
                                Director, BREATHE
                                Utah</strong><br />
                            Ashley Miller is an attorney, originally from Lake Tahoe,
                            CA. She has been with Breathe Utah for seven years. Her
                            passions run deep in all things outdoors. She spends her
                            free time with her family skiing, mountain biking and BMX
                            racing. Ashley has worked hard for several years influencing
                            state and local air quality policy. In 2017, she was
                            appointed by Governor Herbert to the state Air Quality
                            Policy Advisory Board and is currently serving her second
                            term as Vice-Chair. She is also a member of the Salt Lake
                            County Health Department Environmental Quality Advisory
                            Commission, the Utah Inland Port Community Advisory Council,
                            and served on the state Volkswagen Mitigation Plan Advisory
                            Committee. Ashley wrote the air quality column for CATALYST
                            Magazine from 2017 through 2021. </td>
                    </tr>
                </table>
                <br />
                <span class="auto-style10"><strong>
                        <a href="registration/default.html">Register and
                            Submit</a> an Abstract </strong></span>&nbsp;<h1>
                    <a href="docs/conferences/AQSfS-2022/Science_for_Solutions_6.pdf">2022 Conference
                        Flyer</a>
                </h1>
                <h2>Conference Format:</h2>
                <p>The conference will return to a face-to-face format this year.
                    There might be a virtual option if we can make that happen, details
                    will be announced as we figure it out. </p>
                <h2 class="auto-style6">Topics</h2>
                <p class="auto-style7">The subject of this conference is air
                    science. Topic areas include atmospheric chemistry, health impacts,
                    meteorology, emissions, modeling, and public policy. While this
                    conference specializes in topics associated with air quality issues
                    important to Utah and the Intermountain West, presentations on air
                    quality topics that are related in some way will also be considered.</p>
                <h2 class="auto-style6">
                    <a href="PastConferences/PastConferenceDocs/AQSfS2021/default.html">Oral Sessions
                    </a>
                </h2>
                <p class="auto-style7">There are no parallel sessions. Oral presentations
                    should be understandable, at least in part, to air
                    scientists from all fields. A major goal of this conference is the
                    crosspollination of ideas between fields of study. The oral talks
                    are 10 to 12 minutes long with 3 minutes for questions and change over to
                    the next talk. </p>
                <h2 class="auto-style6">
                    <a href="PastConferences/PastConferenceDocs/AQSfS2021/default.html#Poster1">Poster Sessions
                    </a>
                </h2>
                <p class="auto-style7">The posters will be viewable at the
                    conference for the duration of the conference. The breaks will be
                    held near the posters to facilitate interaction. There will be a
                    student poster competition as well. </p>
                <h2 class="auto-style6">
                    UDAQ Academic Stakeholder Meeting</h2>
                <p class="auto-style7">This is an independent group of regional
                    academics involved in ongoing air quality research. A special
                    meeting for the members of the UDAQ Academic Stakeholders group will
                    be scheduled with this conference. Details will be released once the
                    conference agenda has been finalized in the next week or two.
                    Details on that group and the schedule will be announced on this
                    webpage soon.</p>
                <p class="auto-style7">&nbsp;</p>
                <h3>Our Supporters</h3>
                <p>This conference is made possible by the generous financial
                    support of the following organizations: </p>
                <p>
                    <img alt="UCAIR - Utah Clean Air Partnership" height="76"
                        longdesc="UCAIR - Utah Clean Air Partnership" src="images/UCAIR-logo.png" width="401" />
                </p>
                <p><a href="http://uwrl.usu.edu/">
                        <img alt="Utah State University Water Research Laboratory" class="auto-style3" height="20%"
                            src="images/uwrllogo.gif" width="20%" /></a>
                    <a href="https://engineering.usu.edu/">
                        <img alt="USU Engineering" class="auto-style8" height="121"
                            src="registration/Uploads/GeneralFiles/USU%20CE%20blue-wordmark.png" width="300" /></a>
                </p>
                <p>
                    <a href="https://cee.usu.edu/index">
                        <img alt="USU Civil and Environmental Engineering" height="57"
                            src="registration/Uploads/2019%20Air%20Quality%20Science%20for%20Solutions/Logos/cee.gif"
                            width="284" class="auto-style8" /></a>&nbsp;&nbsp;
                    <a href="https://uintahbasin.usu.edu/">
                        <img alt="Utah State Univ., Uintah Basin" class="auto-style8" height="56"
                            src="registration/Uploads/GeneralFiles/usu-ub.png" width="320" /></a>
                </p>
                <p><a href="http://www.airquality.utah.edu/">
                        <img alt="University of Utah Air Quality Program" class="auto-style3" height="50%"
                            src="images/UofU-AirQualityProgram.png" width="50%" /></a></p>
                <!-- #EndEditable -->
            </div>
            <!-- End Left Column -->
            <!-- Begin Right Column -->
            <div id="column_r">
                <!-- #BeginEditable "sidebar" -->
                &nbsp;<p class="auto-style2">
                    <a
                        href="registration/Uploads/GeneralFiles/Aerostat%20Launch%20Feb%202016%20Big%20Cottonwood%20Sports%20Complex%201.jpg">
                        <img alt="Air Quality Testing" height="100%"
                            src="images/images2020/Kelly-Outreach-Kids,Legos,1.jpg" width="100%" /></a>
                </p>
                <p>Air Quality outreach program by the University of Utah and Dr.
                    Kerry Kelly where children build air quality sensors with
                    (augmented) Lego bricks. </p>
                <p>
                    <img alt="U of U: Air Wolf" height="100%"
                        src="images/images2020/Kelly-AirMeasurement-Drones_AirWolf2.png" width="100%" />
                </p>
                <p>Drone based air quality measurements being made by Dr. Kerry
                    Kelly's research group at the University of Utah. </p>
                <p>
                    <img alt="Seth Lyman's group, USU, Vernal" height="50%"
                        src="images/images2020/Seth-WellMonitoring2.jpg" width="50%" /><img
                        alt="Seth Lyman's group, USU, Vernal" height="50%"
                        src="images/images2020/Seth-WellPondMonitoring2.jpg" width="50%" /><img
                        alt="Seth Lyman's group, USU" height="50%"
                        src="images/images2020/Seth-AirMeasurementStation.JPG" width="50%" /><img
                        alt="Seth Lyman's group, USU, Vernal" height="50%"
                        src="images/images2020/Seth-WellPondMonitoring1.jpg" width="50%" />
                </p>
                <p>Dr. Seth Lyman's air quality research group measuring the air in
                    the Uinta Basin no matter the conditions. Dr. Lyman is with Utah
                    State University, Vernal. </p>
                <!-- #EndEditable -->
            </div>
            <!-- End Right Column -->
        </div>
        <!-- End Page Content -->
        <!-- Begin Footer -->
        <div id="footer">
            <p class="auto-style2">
                <a href="https://harbor.weber.edu/AirQualityScience/default.htm">Home</a> |
                <a href="schedule/default.html">Schedule</a> |
                <a href="contact/default.html">Contact</a> |
                <a href="faq/default.html">F<span class="auto-style1">AQ</span></a> |
                <a href="photo_gallery/default.html">Photo Gallery</a> |
                <a href="registration/default.html">R<span class="auto-style1">egistration</span></a> |
                <a href="docs/default.html">Past Conferences</a> |
                <a href="site_map/default.html">Site Map</a>
            </p>
            <p>Copyright &copy; 2021 Weber State University, Physics Dept.. All Rights Reserved.</p>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Container -->

</body>

<!-- #EndTemplate -->

</html>
